.texto{   
font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;
}

.navegador{
    font-weight: bold ;
    background-color: cadetblue;
    font-family: 'Alkatra', cursive;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Oswald', sans-serif;}