.conteiner{
    display: flex;
    flex-wrap: wrap;
}

.caras{
    display: flex;
    height: 150px;
    width: 150px;
    display: flex;
    background: black;
    margin: 50px;
}

.puntos{
    display: flex;
    margin: 10px;
    width: 30px;
    height: 30px;
    background: white;
    border-radius: 50%;
}

.cara1{
    align-items: center;
    display: flex;
    justify-content: center;
}

.cara2{
    display: flex;
    justify-content: space-between;
}

.c2p2{
    align-self: flex-end;
}

.cara3{
    display: flex;
}

.c3p2{
    align-self: center;
}

.c3p3{
    align-self: flex-end;
}

.columna4{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.columna4-1{
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.columna{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.p5{
align-self: center;}
